header {
    background-color: darkblue;
    text-align: center;
    color: crimson;
}

main {
    background-color: lightgrey;
}


h1 {
    font-family: didot, serif;
}

h2 {
    font-family: didot, serif;
}


